*{
    margin: 0%;
    padding: 0%;
}
html,body{
    min-height: 100dvh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 40px;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #fff;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-1{
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #fff;
    height: 510px;
    width: 440px;
}
.from-to{
    display: flex;
}
.from-to-1{
    flex: 1;
    margin: 10px;
}
.from-to-1 label{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.span{
    margin-top: 10px;
    border: 2px solid blueviolet;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    position: relative;
}
.drop-down{
    display: none;
    position: absolute;
    margin-top: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid blueviolet;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    background-position: center;
    background-size: cover;
    color: #fff;
}
.drop-down ul li{
    list-style: none;
}
.span:hover .drop-down{
    display: block;
}
.drop-down ul :hover{
    background-color: bisque;
    transition: 1s;
}
.label{
    margin: 8px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    display: block;
}
.input{
    border: 2px solid blueviolet;
    margin-left: 10px;
    background: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    width: 250px;
}
.converter{
    display: flex;
    margin: 15px;
}
.converter div{
    flex: 1;
    text-align: center;
}
.converter p{
    display: inline-block;
    border: 2px solid blueviolet;
    padding: 3px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
}
.converter p:hover{
    background-color: #fff;
    transition: 1s;
}







@media(max-width:768px){
    .box-1{
        height: 500px;
        width: 320px;
    }
    .heading h1{
        padding: 4px;
        font-size: large;
    }
    .span:hover .drop-down{
    display: block;
    z-index: 10;
    }
    .box-1{
        height: 600px;
    }
}
